@font-face {
  font-family: "Lora";
  src:
    local("Lora"),
    url("./Lora/Lora-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: "Inconsolata";
  src:
    local("Inconsolata"),
    url("./inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format('truetype');
}